<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet") 
        link(rel="stylesheet", href="./assets/styles/main.css")
    body
        .wrapper
            header.header
                .container.header__container
                    .header__right
                        img(src="./assets/img/Calm.png", alt="" class="header__right-logo")
                        span(class="header__right-text") Free Creative Simple Portfolio
                    .header__left
                        img(src="./assets/img/Calm.png", alt="" class="header__right-logo")
